$color: #030b26;
$backgroundColorForComponent: #15252D;
$colorOfCases: rgb(143, 16, 47);

body {
    background-color: $color;
    width: 100vw;
    height: fit-content;
}

.wrapper {
    display: grid;
    height: 100vh;
    max-width: 100vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 20px;
    grid-template-areas:
    "header header header header header header"
    "global map map map deaths deaths"
    "global map map map deaths deaths"
    "countries map map map deaths deaths"
    "countries map map map deaths deaths"
    "countries map map map deaths deaths"
    "countries map map map chart chart"
    "countries map map map chart chart"
    "countries map map map chart chart"
    "countries map map map chart chart";
}

.main_component {
    background-color: $backgroundColorForComponent;
    font-size: 42px;
    color: #fff;
}

.header {
    display: flex;
    align-items: center;
    grid-area: header;   
}

.header img {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.global_cases {
    position: relative;
    grid-area: global;
}

.title_global {
    text-align: center;
    margin-top: 5px;
}

.cases {
    color: $colorOfCases;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute; 
    top: 50%; 
    left: 50%;
}

.map {
    position: relative;
    grid-area: map;
}

.deaths_with_recovered {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    grid-area: deaths;
}

.list_countries {
    position: relative;
    grid-area: countries;
}

.chart {
    position: relative;
    grid-area: chart;
}
@media screen and (max-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        height: inherit;
    }
    .main_component {
        font-size: 22px;
    }
    .header img {
        height: 40px;
        padding: 0 10px 0 10px;
    }

    .global_cases {
        height: 100px;
    }

    .map {
        height: 500px;
    }

    .deaths_with_recovered {
        height: 250px;
    }

    .list_countries {
        height: 350px;
    }

    .chart {
        height: 200px;
    }
}