.btn_full {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #A7ACAE;
    border: none;
    width: 18px;
    height: 18px;
    background-image: url('../assets/img/fullScreen.png');
    background-size: cover;
}