$color: #030b26;
$colorOfCases: rgb(143, 16, 47);
.list-wrapper {
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: #222222;
    border-radius: 5px;
}

.lists-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    height: 80%;
}

.cases-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 2px solid $color;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
}

.cases-wrapper:hover {
    background: rgba(0,0,0,0.4);
}

.active-country {
    background: black;
}

.country-stat-wrapper {
    width: 30%;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: $colorOfCases;
}

.country-flag {
    width: 15px;
}

.country-wrapper {
    width: 50%;
    font-family: Arial, sans-serif;
    font-size: 18px !important;
    display: flex;
    align-items: center;
}

.country-flag-wrapper {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: #5d576b;
}

::-webkit-scrollbar-corner {
    background: #5d576b;
}

::-webkit-scrollbar-thumb {
    background: #2B839F;
}